---
- name: Upgrade all packages.
  package:
    name: '*'
    state: latest
  when: bootstrap_upgrade_packages
  tags: ['package']

- name: Install bootstrap packages.
  package:
    name: "{{item}}"
    state: present
  with_items: "{{bootstrap_packages}}"
  tags: ['package']