- name: Set the host name if provided.
  hostname:
    name: "{{ bootstrap_hostname }}"
  tags: ['hostname']

- name: Use hostnamectl to change permanently.
  command: hostnamectl set-hostname "{{ bootstrap_hostname }}"
  tags: ['command', 'hostname']