---
- name: Create new groups
  group:
    name: "{{ item }}"
    state: present
    system: false
  tags: ['groups', 'users']
  with_items: "{{ bootstrap_groups }}"

- name: Create user
  user:
    append: yes
    generate_ssh_key: true
    groups: "{{ item.groups }}"
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    shell: /bin/bash
    state: "{{ item.state }}"
    update_password: always
  tags: ['users']
  with_items: "{{ bootstrap_users }}"

- name: Create authorized_key file
  authorized_key:
    exclusive: false
    key: "{{ item.public_key }}"
    state: present
    user: "{{ item.name }}"
  with_items: "{{ bootstrap_users }}"
  tags: ['authorized_key', 'users']

- name: Chage the user
  command: /usr/bin/chage -M 99999 -m 0 -E -1 {{ item.name }}
  with_items: "{{ bootstrap_users }}"
  tags: ['users', 'chage']

- name: Create sudoers entries for the users.
  template:
    dest: /etc/sudoers.d/100-admins
    group: root
    mode: 0440
    owner: root
    src: sudoers.j2
  tags: ['template', 'users']