LANG={{ bootstrap_default_locale }}
LANGUAGE={{ bootstrap_default_locale }}
LC_ADDRESS={{ bootstrap_default_locale }}
LC_COLLATE={{ bootstrap_default_locale }}
LC_CTYPE={{ bootstrap_default_locale }}
LC_IDENTIFICATION={{ bootstrap_default_locale }}
LC_MEASUREMENT={{ bootstrap_default_locale }}
LC_MESSAGES={{ bootstrap_default_locale }}
LC_MONETARY={{ bootstrap_default_locale }}
LC_NAME={{ bootstrap_default_locale }}
LC_NUMERIC={{ bootstrap_default_locale }}
LC_PAPER={{ bootstrap_default_locale }}
LC_TELEPHONE={{ bootstrap_default_locale }}
LC_TIME={{ bootstrap_default_locale }}